<template>
  <div class="back-btn-wrap" @click="back">
    <van-icon name="arrow-left" size="12" />
  </div>
</template>

<script>
export default {
  methods: {
    back() {
      this.$router.back();
    }
  }
};
</script>

<style lang="less">
.back-btn-wrap {
  position: fixed;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  z-index: 999;
}
</style>
