<template>
  <div class="follow-btn-wrap">Follow</div>
</template>

<script>
export default {};
</script>

<style lang="less">
.follow-btn-wrap {
  position: fixed;
  top: 12px;
  right: 12px;
  height: 20px;
  border-radius: 10px;
  padding: 0 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  z-index: 999;
}
</style>
