<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
  <link rel="icon" href="<%= BASE_URL %>logo.png" />
  <title>VFUN</title>
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
  <script src="https://unpkg.com/vue-router@3.1.3/dist/vue-router.min.js"></script>
  <script src="https://unpkg.com/vuex@3.1.1/dist/vuex.min.js"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- webrtc -->
  <script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-2.9.0.js"></script>
  <!-- stripe -->
  <script defer src="https://js.stripe.com/v3/"></script>
  <!-- vant -->
  <!-- <script defer src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css" /> -->
  <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-auth.js"></script>
  <!-- intlTelInput -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css" />
  <style>
    #app {
      background-color: #262626;
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
    }

    .load {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #999;
    }
  </style>
</head>

<body>
  <noscript>
    <strong>We're sorry but vfun-vue doesn't work properly without JavaScript
      enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app">
    <div class="load">Loading...</div>
  </div>
  <!-- built files will be auto injected -->
</body>

</html>