<template>
  <div class="detail-page-wrap" v-if="info">
    <back-button />
    <follow-button />
    <div class="main">
      <div class="img-wrap">
        <van-image :src="info.avatar" lazy-load width="100%" />
      </div>
      <div class="info-wrap">
        <div class="name-wrap">
          <div class="name">{{ info.nickname }}</div>
          <div class="status offline" v-if="info.chatStatus === 0">Offline</div>
          <div class="status online" v-if="info.chatStatus === 1">Online</div>
          <div class="status busy" v-if="info.chatStatus === 2">Busy</div>
        </div>
        <div class="detail-wrap">
          <div style="font-size: 0;">
            <div class="price">
              {{ info.preMinuteDiamond }}
              <van-icon :name="require('@/assets/icon/diamond-icon.png')" />/min
            </div>
            <div class="age">
              <van-icon :name="require('@/assets/icon/famale-icon.png')" />
              {{ info.age }}
            </div>
          </div>
          <div class="follower" v-if="info.followerNum">
            <div>{{ info.followerNum }}</div>
            <div>Followers</div>
          </div>
        </div>
        <div class="desc-wrap"></div>
      </div>
    </div>
    <div class="footer">
      <van-button
        :icon="require('@/assets/icon/video-open-icon.png')"
        color="#6B7DFC"
        @click="connect"
        >Video Chat</van-button
      >
      <van-button
        icon="comment"
        color="#F45D82"
        @click="goChatRoom"
      ></van-button>
    </div>
    <!-- <Connect :uid="uid" :poster="info.avatar" @close="show = false" v-if="show" /> -->
  </div>
</template>

<script>
import BackButton from "../components/Button/BackButton";
import FollowButton from "../components/Button/FollowButton";
import { mapState } from "vuex";
import * as Server from "@/server";

export default {
  name: "chat-detail",
  components: {
    BackButton,
    FollowButton
  },
  data() {
    return {
      show: false,
      info: null,
      uid: this.$route.params.uid
    };
  },
  computed: {
    ...mapState(["$vConnect"])
  },
  methods: {
    connect() {
      // :uid="uid" :poster="info.avatar"
      // this.show = true;
      this.$vConnect.ask(this.uid, this.info.avatar);
    },

    async loadDetail() {
      const { status, data } = await Server.UserInfo(this.uid);
      if (status === 0) {
        this.info = data;
      }
    },
    goChatRoom() {
      this.$router.push(`/message-detail/${this.info.uid}`);
    }
  },
  mounted() {
    this.loadDetail();
  }
};
</script>

<style lang="less">
.detail-page-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  .main {
    flex: 1;
    overflow: auto;
    .img-wrap {
      position: relative;
      font-size: 0;
    }
    .info-wrap {
      padding: 10px 20px;
      .name-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
      }
      .name {
        color: #fff;
        font-size: 18px;
        line-height: 21px;
        font-weight: bold;
      }
      .status {
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        color: #ddd;
        display: flex;
        align-items: center;
        margin-left: 10px;

        &::before {
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #ddd;
          margin-right: 3px;
        }
        &.online::before {
          background-color: #40dc29;
        }
        &.busy::before {
          background-color: #ffaa0f;
        }
      }

      .detail-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .price {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
        color: #fff;
      }
      .age {
        font-size: 8px;
        color: #fff;
        display: inline-flex;
        align-items: center;
        height: 12px;
        border-radius: 6px;
        padding: 0 8px;
        background: #f45d82;
        margin-top: 5px;
        font-weight: 300;
      }
      .follower {
        font-size: 12px;
        color: #fff;
        line-height: 20px;
      }
      .desc-wrap {
        margin-top: 5px;
        font-size: 16px;
        color: #fff;
        font-weight: 300;
      }
    }
  }
  .footer {
    padding: 35px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & /deep/ .van-button {
      height: 36px;
      font-size: 16px;
      font-weight: bold;
      display: inline-flex;
      align-items: center;
      line-height: 1;
      padding: 0 20px;

      .van-button__text {
        margin-left: 10px;
      }

      & + .van-button {
        margin-left: 22px;
      }
    }
  }
}
</style>
