<template>
  <div class="chat-home-root">
    <!-- <van-nav-bar title="标题" fixed :border="false" /> -->
    <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
      <van-list
        v-model="loading"
        :finished="finished"
        finished-text
        @load="onLoad"
      >
        <div
          class="chat-card-wrap"
          v-for="(_, i) in chats"
          :key="i"
          @click="goChatDetail(_)"
        >
          <ChatCard :chat="_" />
        </div>
      </van-list>
    </van-pull-refresh>
  </div>
</template>

<script>
import Vue from "vue";
import { PullRefresh, List, NavBar } from "vant";
import ChatCard from "../components/ChatCard";
import * as Server from "@/server";

Vue.use(PullRefresh)
  .use(List)
  .use(NavBar);
export default {
  components: {
    ChatCard
  },
  data() {
    return {
      page: 1,
      chats: [],
      refreshing: false,
      loading: false,
      finished: true
    };
  },
  methods: {
    async loadData() {
      const { data, status } = await Server.HomeList(this.page);
      this.refreshing = false;
      this.loading = false;
      if (status === 0) {
        const { records, total } = data;
        if (this.page === 1) {
          this.chats = records || [];
        } else {
          this.chats = this.chats.concat(records || []);
        }
        if (this.chats.length >= total) {
          this.finished = true;
        } else {
          this.finished = false;
        }
      }
    },
    onLoad() {
      this.page = this.page + 1;
      this.loadData();
    },
    onRefresh() {
      this.page = 1;
      this.loadData();
    },
    goChatDetail(item) {
      this.$router.push(`chat-detail/${item.uid}`);
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style lang="less">
.chat-home-root {
  padding: 10px 20px;
  // padding-top: 10px;
  // padding-top: 56px;

  .chat-card-wrap + .chat-card-wrap {
    margin-top: 20px;
  }
}
</style>
