<template>
  <div class="chat-room-page">
    <back-button />
    <div class="main">
      <AnchorInfo :image="currImage.thumbnailUrl" />
      <ChatRecord :list="comments" />
    </div>
    <div class="footer">
      <message-input @send="sendmessage" />
    </div>
  </div>
</template>

<script>
import MessageInput from "../components/MessageInput";
import BackButton from "../components/Button/BackButton";
import AnchorInfo from "../components/AnchorInfo";
import ChatRecord from "../components/ChatRecord";
import * as Server from "@/server";
import { mapState } from "vuex";

export default {
  components: {
    MessageInput,
    BackButton,
    AnchorInfo,
    ChatRecord
  },
  data() {
    return {
      roomid: this.$route.params.roomid,
      comments: []
    };
  },
  computed: {
    ...mapState(["currImage"])
  },
  methods: {
    async loadData() {
      const { data, status } = await Server.CommentList(this.roomid);
      if (status === 0) {
        this.comments = data || [];
      }
    },
    async sendmessage(msg) {
      const { status, data } = await Server.CommentSend(
        this.roomid,
        msg,
        this.currImage.type
      );
      if (status === 0) {
        console.log(data);
        this.loadData();
      }
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style lang="less">
.chat-room-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main {
    flex: 1;
    overflow: auto;
  }
  .footer {
    flex-shrink: 0;
  }
}
</style>
