<template>
  <div class="discover-page">
    <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
      <van-list
        v-model="loading"
        :finished="finished"
        finished-text
        @load="onLoad"
      >
        <van-row gutter="5">
          <van-col
            span="12"
            v-for="(_, i) in discovers"
            :key="i"
            @click="goChatRoom(_)"
          >
            <DiscoverCard :discover="_" />
          </van-col>
        </van-row>
      </van-list>
    </van-pull-refresh>
  </div>
</template>

<script>
import Vue from "vue";
import { Row, Col, List, PullRefresh } from "vant";
import DiscoverCard from "../components/DiscoverCard";
import * as Server from "@/server";
import { mapMutations } from "vuex";

Vue.use(Row)
  .use(Col)
  .use(List)
  .use(PullRefresh);
export default {
  name: "discover",
  components: {
    DiscoverCard
  },
  data() {
    return {
      page: 1,
      discovers: [],
      refreshing: false,
      loading: true,
      finished: true
    };
  },
  methods: {
    ...mapMutations(["updateCurrImage"]),
    async loadData() {
      const { status, data } = await Server.DiscoverList(this.page);
      this.refreshing = false;
      this.loading = false;
      if (status === 0) {
        const { records, total } = data;
        if (this.page === 1) {
          this.discovers = records || [];
        } else {
          this.discovers = this.discovers.concat(records || []);
        }

        if (this.discovers.length >= total) {
          this.finished = true;
        } else {
          this.finished = false;
        }
      }
    },
    onLoad() {
      this.page += 1;
      this.loadData();
    },
    onRefresh() {
      this.page = 1;
      this.loadData();
    },
    goChatRoom(item) {
      this.updateCurrImage(item);
      this.$router.push(`/chatroom/${item.id}`);
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style lang="less">
.discover-page {
  padding: 10px 20px;

  .van-col {
    margin-bottom: 15px;
  }
}
</style>
