<template>
  <div class="home">
    <keep-alive>
      <router-view class="route" v-if="$route.meta.keep">
        <!-- 这里是会被缓存的视图组件，比如 Home！ -->
      </router-view>
    </keep-alive>
    <router-view class="route" v-if="!$route.meta.keep">
      <!-- 这里是不被缓存的视图组件，比如 Edit！ -->
    </router-view>

    <van-tabbar
      :border="false"
      v-model="active"
      safe-area-inset-bottom
      route
      :fixed="false"
    >
      <van-tabbar-item replace to="/home">
        <van-icon
          slot="icon"
          slot-scope="props"
          :name="
            props.active
              ? require('@/assets/icon/home-tabbar-icon-active.png')
              : require('@/assets/icon/home-tabbar-icon.png')
          "
        />
      </van-tabbar-item>
      <!-- <van-tabbar-item replace to="/discover">
        <van-icon
          slot="icon"
          slot-scope="props"
          :name="
            props.active
              ? require('@/assets/icon/discover-tabbar-icon-active.png')
              : require('@/assets/icon/discover-tabbar-icon.png')
          "
        />
      </van-tabbar-item> -->
      <van-tabbar-item replace to="/message" :info="info ? info : ''">
        <van-icon
          slot="icon"
          slot-scope="props"
          :name="
            props.active
              ? require('@/assets/icon/message-tabbar-icon-active.png')
              : require('@/assets/icon/message-tabbar-icon.png')
          "
        />
      </van-tabbar-item>
      <van-tabbar-item replace to="/personal">
        <van-icon
          slot="icon"
          slot-scope="props"
          :name="
            props.active
              ? require('@/assets/icon/personal-tabbar-icon-active.png')
              : require('@/assets/icon/personal-tabbar-icon.png')
          "
        />
      </van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script>
import Vue from "vue";
import { Tabbar, TabbarItem } from "vant";
import * as Server from "@/server";

Vue.use(Tabbar).use(TabbarItem);
export default {
  name: "home",
  data() {
    return {
      active: 0,
      info: 0
    };
  },
  async mounted() {
    const { status, data } = await Server.NewMessage();
    if (status === 0) {
      this.info = data || 0;
    }
  }
};
</script>
<style lang="less">
.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .route {
    flex: 1;
    overflow: auto;
  }
  & /deep/ .van-tabbar {
    border-top: 1px solid rgba(70, 70, 70, 1);
  }
  & /deep/ .van-info {
    border-color: #ee0a24;
  }
}
</style>
