<template>
  <div class="login-page">
    <div>
      <van-field v-model="email" placeholder="Email" />
      <van-field
        v-model="password"
        :type="showPass ? 'text' : 'password'"
        placeholder="Password"
        :right-icon="showPass ? 'eye-o' : 'closed-eye'"
        @click-right-icon="showPass = !showPass"
      />
      <div class="login-tips">
        <!-- Forgot Password -->
      </div>
      <div class="login-button-wrap">
        <van-button @click="loginByEmail" class="login-btn" color="#6B7DFC"
          >Sign up/ Login</van-button
        >
      </div>
    </div>
    <div class="login-tools">
      <div class="login-tool">
        <div class="login-tool-item" @click="loginByGoogle">
          <van-icon
            size="47"
            :name="require('../assets/icon/google-icon.png')"
          />
        </div>
        <div class="login-tool-item" @click="loginByFacebook">
          <van-icon
            size="47"
            :name="require('../assets/icon/facebook-icon.png')"
          />
        </div>
        <div class="login-tool-item" @click="toPhoneLogin">
          <van-icon
            size="47"
            :name="require('../assets/icon/phone-icon.png')"
          />
        </div>
      </div>
      <div class="tools-tips">
        By signing up, you confirm that you agree to our
        <span @click="toTermOfService">Terms of Use</span> and have read and
        understood our
        <span @click="toPrivacyPolicy">Privacy Policy</span>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { Field, Button } from "vant";
import firebase from "firebase/app";
import { mapState, mapActions } from "vuex";

Vue.use(Field).use(Button);
export default {
  name: "login",
  data() {
    return {
      email: "",
      password: "",
      showPass: false
    };
  },
  computed: {
    ...mapState(["profile"])
  },
  created() {
    // this.logout();
    // console.log(firebase.auth().languageCode);
    // firebase.auth().onAuthStateChanged(async user => {
    //   // console.log("user: ", user);
    //   if (user) {
    //     await this.login({ user });
    //     // this.$router.push("/home");
    //   }
    // });
  },
  methods: {
    ...mapActions(["login", "logout"]),
    toPrivacyPolicy() {
      window.open("https://vfun.world/privacy_policy.html");
    },
    toTermOfService() {
      window.open("https://vfun.world/term_of_service.html");
    },
    loginByEmail() {
      if (!this.email) {
        this.$toast("Please input your email");
        return;
      }
      if (!this.password) {
        this.$toast("Please enter your password");
        return;
      }
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(async res => {
          const { user } = res;
          await this.login({ user, method: { type: "email", id: this.email } });
          if (this.profile.avatar) {
            this.$router.push("/home");
          } else {
            this.$router.push("/personal-edit?from=login");
          }
        })
        .catch(error => {
          console.log(error);
          // this.$toast(error.message);
          if (error.code === "auth/user-not-found") {
            this.createdUserByEmail();
          } else {
            this.$toast(error.message);
          }
        });
    },
    createdUserByEmail() {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then(async res => {
          const { user } = res;
          await this.login({ user, method: { type: "email", id: this.email } });
          if (this.profile.avatar) {
            this.$router.push("/home");
          } else {
            this.$router.push("/personal-edit?from=login");
          }
        })
        .catch(error => {
          console.log(error);
          this.$toast(error.message);
        });
    },
    loginByGoogle() {
      const provider = new firebase.auth.GoogleAuthProvider();
      firebase
        .auth()
        .signInWithPopup(provider)
        .then(async res => {
          console.log(res);
          const { user } = res;
          await this.login({ user, method: { type: "google", id: "" } });
          if (this.profile.avatar) {
            this.$router.push("/home");
          } else {
            this.$router.push("/personal-edit?from=login");
          }
        })
        .catch(error => {
          this.$toast(error.message);
        });
    },
    loginByFacebook() {
      const provider = new firebase.auth.FacebookAuthProvider();
      firebase
        .auth()
        .signInWithPopup(provider)
        .then(async res => {
          console.log(res);
          const { user } = res;
          await this.login({ user, method: { type: "facebook", id: "" } });
          if (this.profile.avatar) {
            this.$router.push("/home");
          } else {
            this.$router.push("/personal-edit?from=login");
          }
        })
        .catch(error => {
          this.$toast(error.message);
        });
    },
    toPhoneLogin() {
      this.$router.push("/phone-login");
    }
  },
  beforeRouteLeave(to, from, next) {
    // 设置下一个路由的 meta
    to.meta.keep = false; // 让 A 不缓存，即刷新
    next();
  }
};
</script>

<style lang="less">
.login-page {
  padding: 80px 35px 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  .login-tips {
    text-align: right;
    font-size: 12px;
    color: #cfcfcf;
    padding: 10px 0;
  }
  .login-button-wrap {
    margin-top: 40px;
    text-align: center;
    // padding: 20px;
    .login-btn {
      height: 36px;
      line-height: 1;
      font-size: 18px;
      font-weight: bold;
      padding: 0 45px;
    }
  }
  .login-tools {
    text-align: center;
    padding: 60px 0;

    .login-tool {
      display: flex;
      align-items: center;
      justify-content: center;
      &-item {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        & + .login-tool-item {
          margin-left: 15px;
        }
      }
    }

    .tools-tips {
      font-size: 12px;
      color: #cfcfcf;
      line-height: 16px;
      margin-top: 15px;
      span {
        color: #fff;
        font-weight: bold;
      }
    }
  }
}
</style>
