<template>
  <div>
    <van-tabs v-model="active" :border="false">
      <van-tab title>
        <message-list />
      </van-tab>
      <!-- <van-tab title="通知">
        <notice-list />
      </van-tab>-->
    </van-tabs>
  </div>
</template>

<script>
import Vue from "vue";
import { Tab, Tabs } from "vant";
import MessageList from "../components/MessageList";
// import NoticeList from "../components/NoticeList";

Vue.use(Tab).use(Tabs);
export default {
  components: {
    MessageList
    // NoticeList
  },
  data() {
    return {
      active: 0
    };
  }
};
</script>

<style></style>
