<template>
  <div class="chat-record-root">
    <div class="main" ref="records-root">
      <van-pull-refresh
        class="pull-wrap"
        v-model="refreshing"
        @refresh="onRefresh"
      >
        <div>
          <div
            class="record-card"
            :class="{ self: _.fromUid + '' !== touid + '' }"
            v-for="(_, i) in msgList"
            :key="i"
          >
            <van-image
              width="34"
              height="34"
              round
              :src="
                _.fromUid + '' !== touid + ''
                  ? profile.avatar
                  : relateUser.avatar
              "
            />
            <div class="content">
              <div class="name-wrap">
                <!-- <div class="name">MLBB</div> -->
                <div class="date">{{ _.createdTime }}</div>
              </div>
              <div class="info">{{ _.message }}</div>
            </div>
          </div>
        </div>
      </van-pull-refresh>
    </div>
    <div class="footer">
      <message-input @send="sendmessage" />
    </div>
  </div>
</template>

<script>
import * as Server from "@/server";
import MessageInput from "../components/MessageInput";
import { mapState } from "vuex";

export default {
  data() {
    return {
      relateUser: null,
      touid: this.$route.params.touid,
      page: 1,
      msgList: [],
      refreshing: false
      // loading: false
    };
  },
  computed: {
    ...mapState(["profile"])
  },
  components: {
    MessageInput
  },
  methods: {
    toBottom() {
      this.$nextTick(() => {
        let dom = this.$refs["records-root"];
        this.$refs["records-root"].scrollTop = dom.scrollHeight;
      });
    },
    // onLoad() {
    //   this.page = this.page + 1;
    //   this.loadData();
    // },
    onRefresh() {
      this.page = this.page + 1;
      this.loadData();
    },
    async loadData() {
      const { status, data } = await Server.MessageDetail(
        this.page,
        this.touid
      );
      this.refreshing = false;
      if (status === 0) {
        console.log(data);
        if (this.page === 1) {
          this.msgList = data ? data.reverse() : [];
        } else {
          const sortdata = data ? data.reverse() : [];
          this.msgList = sortdata.concat(this.msgList);
        }
      }
    },
    async sendmessage(msg) {
      console.log(msg);
      const { status } = await Server.MessageSend(msg, this.touid);
      if (status === 0) {
        this.page === 1;
        await this.loadData();
        this.toBottom();
      }
    }
  },
  created() {
    const relateUser = sessionStorage.getItem("message-relate");
    if (relateUser) {
      this.relateUser = JSON.parse(relateUser);
    }
  },
  async mounted() {
    await this.loadData();
    this.toBottom();
    this.timer = setInterval(() => {
      if (this.page === 1) {
        this.loadData();
      }
    }, 10000);
  },
  beforeDestroy() {
    console.log("destroy");
    if (this.timer) clearInterval(this.timer);
  }
};
</script>

<style lang="less">
.chat-record-root {
  // padding: 15px 0 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .pull-wrap {
    box-sizing: border-box;
    padding: 15px 0;
    min-height: 100%;
  }
  .record-card {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;

    & + .record-card {
      margin-top: 20px;
    }

    & /deep/ .van-image {
      flex-shrink: 0;
    }

    .content {
      color: #fff;
      margin-left: 12px;
      padding-right: 30px;
      word-break: break-all;

      .name-wrap {
        display: flex;
        align-items: center;
        .name {
          color: #cacaca;
          font-size: 12px;
          line-height: 14px;
          font-weight: bold;
        }
        .date {
          color: #b6b6b6;
          font-size: 10px;
          // margin-left: 10px;
        }
      }

      .info {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        background: #e4ffcc;
        border-radius: 8px;
        padding: 8px;
        color: #6a7a60;
        display: inline-flex;
        text-align: left;
      }
    }
  }

  .record-card.self {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-right: 20px;
    padding-left: 0;
    .name-wrap {
      justify-content: flex-end;
    }
    .content {
      margin-left: 0;
      margin-right: 12px;
      padding-right: 0;
      padding-left: 30px;
      text-align: right;
    }
  }
  .main {
    flex: 1;
    overflow: auto;
  }
  .footer {
    flex-shrink: 0;
  }
}
</style>
