<template>
  <div class="personal-edit-page">
    <div
      class="header"
      :style="{
        backgroundImage: `url(${
          this.filename ? this.filename.content : avatar
        })`
      }"
    >
      <div class="header-inner">
        <div class="avatar-wrap">
          <van-uploader :after-read="afterRead" capture="camera" :max-count="1">
            <div class="avatar-uploader">
              <van-image
                :src="this.filename ? this.filename.content : avatar"
                round
                width="100%"
                height="100%"
              />
              <van-icon
                size="45"
                class="camera-icon"
                :name="require('@/assets/icon/take-photo-icon.png')"
              />
            </div>
          </van-uploader>
        </div>
        <van-field
          v-model="nickname"
          placeholder="Please enter user name"
          clearable
        />
      </div>
    </div>

    <div class="main">
      <van-cell-group :border="false">
        <van-cell title="gender">
          <div slot="right-icon" class="gender-wrap">
            <van-radio-group class="radio-warp" v-model="gender">
              <div>
                <van-radio checked-color="#F45D82" :name="0">Female</van-radio>
              </div>
              <div>
                <van-radio checked-color="#F45D82" :name="1">Male</van-radio>
              </div>
              <div>
                <van-radio checked-color="#F45D82" :name="2"
                  >Prefer Not to Say</van-radio
                >
              </div>
            </van-radio-group>
          </div>
        </van-cell>
        <van-field v-model="age" placeholder="Age" clearable />
        <van-field v-model="mobile" placeholder="Mobile" clearable />
        <van-field v-model="email" placeholder="Email" clearable />
        <van-field v-model="address" placeholder="Location" clearable />
        <van-field
          v-model="remark"
          rows="2"
          autosize
          type="textarea"
          maxlength="50"
          placeholder="What's Up"
          show-word-limit
          class="remark"
        />
      </van-cell-group>
    </div>
    <div class="footer">
      <van-button color="#6B7DFC" @click="edit">Save</van-button>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { Uploader, Field, Cell, CellGroup, Radio, RadioGroup } from "vant";
import * as Server from "@/server";
import { mapState, mapMutations } from "vuex";

Vue.use(Uploader)
  .use(Field)
  .use(CellGroup)
  .use(Cell)
  .use(Radio)
  .use(RadioGroup);
export default {
  data() {
    return {
      fromLogin: this.$route.query.from
        ? this.$route.query.from === "login"
          ? true
          : false
        : false,
      avatar: "",
      nickname: "",
      gender: 0,
      age: "",
      mobile: "",
      email: "",
      address: "",
      remark: "",
      filename: null
    };
  },
  computed: {
    ...mapState(["profile"])
  },
  methods: {
    ...mapMutations(["updateProfile"]),
    afterRead(file) {
      console.log(file);
      this.filename = file;
    },

    async edit() {
      if (!this.profile.avatar && !this.filename) {
        this.$toast("Please upload an avatar");
      }
      const { status, data } = await Server.EditProfile({
        // avatar: this.avatar,
        nickname: this.nickname,
        gender: this.gender,
        age: this.age,
        mobile: this.mobile,
        email: this.email,
        address: this.address,
        remark: this.remark,
        filename: this.filename ? this.filename.file : ""
      });
      if (status === 0) {
        console.log(data);
        this.updateProfile(data);
        if (this.fromLogin) {
          this.$router.replace("/home");
        }
      }
    }
  },
  created() {
    if (this.profile) {
      const {
        avatar,
        nickname,
        gender,
        age,
        mobile,
        email,
        address,
        remark
      } = this.profile;
      this.avatar = avatar;
      this.nickname = nickname;
      this.gender = gender;
      this.age = age;
      this.mobile = mobile;
      this.email = email;
      this.address = address;
      this.remark = remark;
    }
  }
};
</script>

<style lang="less">
.personal-edit-page {
  height: 100%;
  overflow: auto;
  .header {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    .header-inner {
      background-color: rgba(29, 29, 29, 0.67);

      .van-cell {
        background-color: transparent;
      }
    }
    .avatar-wrap {
      display: flex;
      position: relative;
      height: 200px;
      align-items: center;
      justify-content: center;

      .avatar-uploader {
        width: 146px;
        height: 146px;
        position: relative;
        border-radius: 50%;
        background: #fff;
        // overflow: hidden;

        .camera-icon {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
  .main {
    .gender-wrap {
      display: flex;
      .radio-warp {
        flex-direction: column;

        .van-radio {
          margin: 5px 0;
        }
      }

      & /deep/ .van-radio-group {
        display: flex;

        .van-radio + .van-radio {
          margin-left: 20px;
        }
      }
    }
    .remark {
      background: #4b4b4b;
      margin: 20px 16px 0;
      box-sizing: border-box;
      width: auto;
      border-radius: 6px;
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    padding: 30px 0;

    .van-button {
      padding: 0 40px;
      height: 36px;
      line-height: 1;
    }
  }
}
</style>
