<template>
  <div class="personal-page">
    <div class="main" v-if="profile">
      <van-cell size="large" :border="false" center to="/personal-edit" is-link>
        <van-image
          slot="icon"
          width="56"
          height="56"
          lazy-load
          round
          :src="profile.avatar"
        />

        <div slot="title" class="title">
          <div class="name">{{ profile.nickname }}</div>
          <div class="tips">Edit Profile</div>
        </div>
      </van-cell>
      <van-cell
        :border="false"
        is-link
        center
        class="balance"
        @click="goRecharge"
      >
        <van-icon
          size="46"
          slot="icon"
          :name="require('@/assets/icon/account-icon.png')"
        />
        <div class="balance-value" slot="title">
          {{ profile.diamond }}
          <van-icon :name="require('@/assets/icon/diamond-icon.png')" />
        </div>
      </van-cell>
      <van-cell-group :border="false">
        <van-cell
          title="Contact Us"
          value="vfun.help@gmail.com"
          :border="false"
          @click="connectUs"
          is-link
        />
        <van-cell
          title="Follow Us"
          value="Facebook"
          :border="false"
          is-link
          @click="facebook"
        />
        <!-- <van-cell title="FAQ" value :border="false" is-link /> -->
      </van-cell-group>
    </div>
    <div class="footer">
      <van-button class="logout-btn" @click="logoutHandler">Logout</van-button>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { Cell, CellGroup, Icon, Button } from "vant";
import * as Server from "../server";
import { mapState, mapMutations, mapActions } from "vuex";

Vue.use(Cell)
  .use(CellGroup)
  .use(Icon)
  .use(Button);
export default {
  name: "personal",
  data() {
    return {};
  },
  computed: {
    ...mapState(["profile"])
  },
  methods: {
    ...mapMutations(["updateProfile"]),
    ...mapActions(["logout"]),
    connectUs() {
      window.open("mailto:vfun.help@gmail.com");
    },
    facebook() {
      window.open("https://m.facebook.com/vfun.world");
    },
    async loadUserInfo() {
      const { status, data } = await Server.Profile();
      if (status === 0) {
        this.updateProfile(data);
        localStorage.setItem("profile", JSON.stringify(data));
      }
    },
    goRecharge() {
      this.$router.push("/recharge");
    },
    async logoutHandler() {
      try {
        await this.logout();
      } catch (error) {
        console.log(error);
      }
      this.$router.replace("/login");
    }
  },
  mounted() {
    this.loadUserInfo();
  }
};
</script>

<style lang="less">
.personal-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main {
    flex: 1;
    overflow: auto;
    .title {
      padding-left: 50px;
      .name {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
      }
      .tips {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
      }
    }
    .balance {
      height: 63px;
      margin-top: 48px;
      // padding: 0 23px;
      background: linear-gradient(
        90deg,
        rgba(107, 125, 252, 1) 0%,
        rgba(244, 93, 130, 1) 100%
      );

      .balance-value {
        padding-left: 54px;
        font-size: 18px;
        line-height: 29px;
        display: flex;
        align-items: center;
        float: right;

        .van-icon {
          margin-left: 10px;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    .logout-btn {
      border-radius: 5px;
      width: 180px;
      border: none;
      height: 38px;
      line-height: 1;
      font-size: 16px;
    }
  }
}
</style>
