<template>
  <div class="login-page">
    <div>
      <div ref="recaptcha" id="phone-login-recaptcha"></div>
      <van-field v-model="phone" placeholder="Your Phone Number" center>
        <input slot="label" ref="phone" />
      </van-field>
      <van-field
        v-model="code"
        placeholder="Verification Code"
        label="Verify"
        center
      >
        <van-button
          @click="sendVerifyCode"
          :disabled="sended"
          slot="button"
          size="small"
          type="primary"
        >
          <van-count-down
            ref="countDown"
            @finish="finishCD"
            format="mm:ss"
            :time="time"
            auto-start
            v-if="sended"
          />
          <div v-else>Send</div>
        </van-button>
      </van-field>
      <div class="login-button-wrap">
        <van-button @click="loginByPhone" class="login-btn" color="#6B7DFC"
          >Sign up/ Login</van-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import intlTelInput from "intl-tel-input";
// import "intl-tel-input/build/js/intlTelInput-jquery";
// import "intl-tel-input/build/js/intlTelInput";
// import "intl-tel-input/build/js/utils";
// import "intl-tel-input/build/css/intlTelInput.min.css";
import firebase from "firebase/app";
import "firebase/auth";
import Vue from "vue";
import { Field, Button, CountDown } from "vant";
import { mapState, mapActions } from "vuex";

// console.log(intlTelInput);

Vue.use(Field)
  .use(Button)
  .use(CountDown);

export default {
  data() {
    return {
      phone: "",
      code: "",
      time: 60 * 1000,
      sended: false
    };
  },
  computed: {
    ...mapState(["profile"])
  },
  methods: {
    ...mapActions(["login"]),
    finishCD() {
      this.sended = false;
      this.time = 60 * 1000;
    },
    sendVerifyCode() {
      if (!this.phone) {
        this.$toast("Please enter phone number!");
        return;
      }
      let dialCode = "+";
      const coutry = this.iti.getSelectedCountryData();
      if (coutry) {
        dialCode = dialCode + coutry.dialCode;
      }
      firebase
        .auth()
        .signInWithPhoneNumber(dialCode + this.phone, this.recaptchaVerifier)
        .then(result => {
          this.confirmResult = result;
          this.sended = true;
          this.resetRecaptcha();
          this.$toast("Sent successfully");
        })
        .catch(error => {
          console.log(error);
          this.resetRecaptcha();
          this.$toast(error.message);
        });
    },
    loginByPhone() {
      if (!this.confirmResult || !this.code) {
        this.$toast("Please enter verification code!");
      } else if (!this.phone) {
        this.$toast("Please enter phone number!");
      }
      if (this.confirmResult) {
        this.confirmResult
          .confirm(this.code)
          .then(async res => {
            let dialCode = "+";
            const coutry = this.iti.getSelectedCountryData();
            if (coutry) {
              dialCode = dialCode + coutry.dialCode;
            }
            const { user } = res;
            await this.login({
              user,
              method: { type: "phone", id: dialCode + this.phone }
            });
            if (this.profile.avatar) {
              this.$router.push("/home");
            } else {
              this.$router.push("/personal-edit?from=login");
            }
          })
          .catch(function(error) {
            console.log(error);
            this.$toast(error.message);
          });
      }
    },
    resetRecaptcha() {
      if (this.recaptchaVerifier) {
        this.recaptchaVerifier.clear();
      }
      this.recaptchaVerifier = new firebase.auth.RecaptchaVerifier(
        this.$refs.recaptcha,
        {
          size: "invisible",
          callback: function(response) {
            console.log(response);
          }
        }
      );
    }
  },
  mounted() {
    // 手机登录
    firebase.auth().settings.appVerificationDisabledForTesting =
      process.env.NODE_ENV === "development" ? false : false;
    this.resetRecaptcha();
    this.iti = intlTelInput(this.$refs.phone, {
      initialCountry: "us",
      separateDialCode: true
    });
  },
  beforeRouteLeave(to, from, next) {
    // 设置下一个路由的 meta
    to.meta.keep = false; // 让 A 不缓存，即刷新
    next();
  }
};
</script>

<style lang="less">
.login-page {
  padding: 80px 35px 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  .login-tips {
    text-align: right;
    font-size: 12px;
    color: #cfcfcf;
    padding: 10px 0;
  }
  .login-button-wrap {
    margin-top: 40px;
    text-align: center;
    // padding: 20px;
    .login-btn {
      height: 36px;
      line-height: 1;
      font-size: 18px;
      font-weight: bold;
      padding: 0 45px;
    }
  }
  .van-field__label {
    display: flex;
  }

  .iti {
    input {
      display: none;
    }
  }
}
.iti-mobile {
  font-size: 12px !important;
}
</style>
