<template>
  <div class="recharge-page">
    <!-- <van-nav-bar
      fixed
      title="标题"
      left-text="返回"
      left-arrow
      @click-left="onClickLeft"
    />-->
    <div class="balance-wrap">
      <div class="title">Balance:</div>
      <div class="value-wrap">
        <div class="value">{{ profile.diamond }}</div>
        <div class="tips">Diamonds</div>
      </div>
    </div>
    <div class="title-tips">Recharge Plan</div>
    <div class="recharge-list">
      <div class="list-title">Minute basis:</div>
      <div class="list-items">
        <div
          class="item"
          @click="diamondHandler(_)"
          :class="{ hot: _.type === 1 }"
          v-for="(_, i) in products"
          :key="i"
        >
          <div class="label">
            <van-icon :name="require('@/assets/icon/diamond-icon.png')" />
            <div>{{ _.desc }}</div>
            <div class="hot-tag">HOT</div>
          </div>
          <div>{{ _.money }} USD</div>
        </div>
      </div>
    </div>
    <van-dialog
      v-model="dialog"
      @opened="renderCard"
      @confirm="purchase"
      title="Recharge"
      show-cancel-button
    >
      <div ref="cardNumber" class="card-cell"></div>
      <div ref="cardCvc" class="card-cell"></div>
      <div ref="cardExpiry" class="card-cell"></div>
    </van-dialog>
  </div>
</template>

<script>
import Vue from "vue";
import { NavBar, Dialog } from "vant";
import * as Server from "@/server";
import { mapState, mapMutations } from "vuex";
import { stripeKey } from "../common/config";

let stripe = window.Stripe(stripeKey),
  elements = stripe.elements(),
  cardNumber = undefined,
  cardCvc = undefined,
  cardExpiry = undefined;
const style = {
  base: {
    fontSize: "14px",
    padding: "10px"
  }
};

Vue.use(NavBar).use(Dialog);
export default {
  data() {
    return {
      dialog: false,
      products: [],
      curProduct: null
    };
  },
  computed: {
    ...mapState(["profile"])
  },
  created() {
    if (this.$route.query.token) {
      localStorage.setItem("token", this.$route.query.token);
    }
    this.loadUserInfo();
  },
  methods: {
    ...mapMutations(["updateProfile"]),
    async loadUserInfo() {
      const { status, data } = await Server.Profile();
      if (status === 0) {
        this.updateProfile(data);
        localStorage.setItem("profile", JSON.stringify(data));
      }
    },
    async loadData() {
      const { data, status } = await Server.ProductList();
      if (status === 0) {
        this.products = data;
      }
    },
    diamondHandler(item) {
      this.curProduct = item;
      this.dialog = true;
    },
    renderCard() {
      cardNumber.mount(this.$refs.cardNumber);
      cardCvc.mount(this.$refs.cardCvc);
      cardExpiry.mount(this.$refs.cardExpiry);
    },
    purchase() {
      stripe.createToken(cardNumber).then(async result => {
        if (result.error) {
          this.$toast(result.error.message);
        } else {
          const { status } = await Server.PayByStripe({
            code: result.token.id,
            diamond: this.curProduct.diamond,
            money: this.curProduct.money,
            productId: this.curProduct.productId,
            type: this.curProduct.type
          });
          if (status === 0) {
            this.$toast("Recharge successful");
            this.loadUserInfo();
          }
          // console.log(status, data);
        }
      });
    }
  },
  mounted() {
    this.loadData();
    cardNumber = elements.create("cardNumber", { style });
    cardCvc = elements.create("cardCvc", { style });
    cardExpiry = elements.create("cardExpiry", { style });
  }
};
</script>

<style lang="less">
.recharge-page {
  min-height: 100%;
  padding: 10px 30px;

  .balance-wrap {
    width: 315px;
    margin: 0 auto;
    height: 144px;
    background: linear-gradient(
      90deg,
      rgba(107, 125, 252, 1) 0%,
      rgba(244, 93, 130, 1) 100%
    );
    border-radius: 5px;
    position: relative;

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: #fff;
      position: absolute;
      top: 13px;
      left: 15px;
    }
    .value-wrap {
      text-align: center;
      position: absolute;
      left: 50%;
      bottom: 32px;
      transform: translateX(-50%);
      .value {
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;
        color: #fff;
      }
      .tips {
        font-size: 12px;
        color: #fff;
        line-height: 20px;
      }
    }
  }
  .title-tips {
    margin-top: 16px;
    font-size: 12px;
    color: #b5b5b5;
    line-height: 20px;
    padding: 16px 0;
  }
  .recharge-list {
    color: #fff;

    & + .recharge-list {
      margin-top: 38px;
    }
    .list-title {
      font-size: 14px;
      line-height: 20px;
    }
    .list-items {
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 0;

        .label {
          display: flex;
          align-items: center;
          .van-icon {
            margin-right: 5px;
          }
          .hot-tag {
            background-color: #dd3d2e;
            border-radius: 5px;
            height: 18px;
            align-items: center;
            padding: 0 5px;
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
            display: none;
          }
        }

        &.hot .hot-tag {
          display: inline-flex;
        }
      }
    }
  }

  .card-cell {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;

    border-bottom: 1px solid #ebedf0;
  }

  .van-dialog__content {
    margin: 10px auto;
  }
}
</style>
