<template>
  <div class="anchor-info-wrap">
    <van-image width="100%" height="406px" fit="cover" lazy-load :src="image" />
    <div class="content" v-if="anchor">
      <div class="content-header">
        <div class="detail">
          <div class="name-wrap">
            <div class="name">Katy</div>
            <div class="status online">Online</div>
          </div>
          <div class="price">
            600
            <van-icon :name="require('@/assets/icon/diamond-icon.png')" />/min
          </div>
        </div>
        <div class="age">
          <van-icon :name="require('@/assets/icon/famale-icon.png')" />26
        </div>
      </div>
      <div class="tips">It is so hot here, is anyone in Bali today?</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default:
        "https://pic1.zhimg.com/v2-3b4fc7e3a1195a081d0259246c38debc_1200x500.jpg"
    },
    anchor: {
      type: Object,
      default: function() {
        return null;
      }
    }
  }
};
</script>

<style lang="less">
.anchor-info-wrap {
  font-size: 0;
  .van-image {
    // max-height: 406px;
  }
  .content {
    padding: 20px;
    color: #fff;

    .content-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .name-wrap {
        display: flex;
        align-items: center;
        .name {
          font-size: 18px;
        }
        .status {
          font-size: 8px;
          margin-left: 8px;

          &::before {
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #ddd;
          }
          &.online::before {
            background-color: #40dc29;
          }
          &.busy::before {
            background-color: #ffaa0f;
          }
        }
      }
      .price {
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
      }
      .age {
        background-color: #f45d82;
        font-size: 8px;
        height: 10px;
        display: inline-flex;
        align-items: center;
        padding: 0 5px;
        border-radius: 5px;
        font-weight: 300;
      }
    }
    .tips {
      margin-top: 8px;
      font-size: 16px;
      color: #fff;
      line-height: 20px;
    }
  }
}
</style>
