<template>
  <div class="chat-record-root" v-if="list.length > 0">
    <div class="record-card" v-for="(_, i) in list" :key="i">
      <van-image width="34" height="34" round :src="_.avatar" />
      <div class="content">
        <div class="name-wrap">
          <div class="name">{{ _.nickname }}</div>
          <div class="date">{{ _.createdTime }}</div>
        </div>
        <div class="info">{{ _.content }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      default: function() {
        return [];
      }
    }
  }
};
</script>

<style lang="less">
.chat-record-root {
  background: #000;
  padding: 15px 0px;
  .record-card {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;

    & + .record-card {
      margin-top: 19px;
    }

    // &.slef {
    //   padding-left: 0;
    //   padding-right: 20px;
    // }

    & /deep/ .van-image {
      flex-shrink: 0;
    }

    .content {
      color: #fff;
      margin-left: 12px;

      .name-wrap {
        display: flex;
        align-items: center;
        .name {
          color: #cacaca;
          font-size: 12px;
          line-height: 14px;
          font-weight: bold;
        }
        .date {
          color: #b6b6b6;
          font-size: 10px;
          margin-left: 10px;
        }
      }

      .info {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
      }
    }
  }
}
</style>
