<template>
  <div class="chat-card-root">
    <van-image
      :src="chat.avatar"
      width="100%"
      height="100%"
      lazy-load
      fit="cover"
    />
    <div class="chat-card-status offline" v-if="chat.chatStatus === 0">
      Offline
    </div>
    <div class="chat-card-status online" v-if="chat.chatStatus === 1">
      Online
    </div>
    <div class="chat-card-status busy" v-if="chat.chatStatus === 2">Busy</div>
    <div class="chat-card-bottom">
      <div class="info">
        <div class="name">{{ chat.nickname }}</div>
        <div class="age">
          <van-icon
            :name="require('@/assets/icon/famale-icon.png')"
            color="#fff"
            size="12"
          />
          {{ chat.age }}
        </div>
      </div>

      <div class="price">
        {{ chat.preMinuteDiamond }}
        <van-icon :name="require('@/assets/icon/diamond-icon.png')" />/min
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { Image, Lazyload } from "vant";

Vue.use(Lazyload).use(Image);
export default {
  name: "chat-card",
  props: {
    chat: {
      type: Object,
      default: function() {
        return {};
      }
    }
  }
};
</script>

<style lang="less">
.chat-card-root {
  width: 100%;
  height: 346px;
  border-radius: 8px;
  background-color: #ddd;
  position: relative;
  overflow: hidden;

  .chat-card-status {
    position: absolute;
    right: 5px;
    top: 8px;
    height: 22px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #ddd;
      margin-right: 5px;
    }
    &.online::before {
      background-color: #40dc29;
    }
    &.busy::before {
      background-color: #ffaa0f;
    }
  }
  .chat-card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 105px;
    width: 100%;
    padding: 16px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: linear-gradient(
      180deg,
      rgba(167, 167, 167, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );

    .info {
      display: flex;
      align-items: center;
    }
    .name {
      font-size: 24px;
      color: #fff;
      font-weight: bold;
      line-height: 29px;
    }
    .age {
      background-color: #f45d82;
      font-size: 12px;
      font-weight: 300;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      height: 16px;
      padding: 0 8px;
      border-radius: 4px;
      margin-left: 10px;
    }

    .price {
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      line-height: 20px;
      display: flex;
      align-items: center;
    }
  }
}
</style>
