<template>
  <div></div>
</template>

<script>
import { setInterval } from "timers";
export default {
  data() {
    return {
      io: null
    };
  },
  methods: {
    createWS() {
      if (this.io) {
        this.io.close();
        this.io = null;
      }
      const token = localStorage.getItem("token");
      if (!token) {
        // this.$toast()
        return;
      }
      this.io = new WebSocket(
        "wss://vfun.mixit.fun/vFunWebsocket?token=" + token
      );
      this.io.onopen = () => {
        this.$emit("open");
      };
      this.io.onmessage = event => {
        const json = event.data ? JSON.parse(event.data) : {};
        this.$emit("message", json);
      };
      this.io.onclose = () => {
        this.$emit("close");
      };
      this.io.onerror = () => {
        this.$emit("error");
      };
      this.timer = setInterval(() => {
        this.send({ key: "HB", value: 1 });
      }, 20000);
    },
    send(data) {
      if (this.io && this.io.readyState === 1) {
        if (data && data instanceof Object) {
          this.io.send(JSON.stringify(data));
        }
      }
    },
    close() {
      if (this.io) {
        try {
          this.io.close();
        } catch (error) {
          console.error("close websocket:", error);
        }
      }
    }
  },
  beforeDestroy() {
    if (this.timer) clearInterval(this.timer);
    this.close();
  }
};
</script>

<style></style>
