<template>
  <div>
    <van-popup v-model="open" position="bottom">
      <div class="connect-root" :style="{ backgroundImage: `url(${poster})` }">
        <div class="connecting-wrap" v-if="status === 1">
          <div class="connecting-tips" v-show="false">
            <div class="connecting-tips-main">
              <div class="connection-person">
                <van-image
                  width="70"
                  height="70"
                  round
                  src="https://www.vdncloud.com/Uploads/keditor/image/20190612/20190612104104_69482.jpg"
                />
                <div class="person-name">Robert</div>
              </div>
              <div class="connecting-tips-content">
                You received a call from Robert. Talk longer, earn more!!! Pick
                up now!
              </div>
            </div>
          </div>
        </div>
        <div class="conncted-wrap" v-if="status === 2">
          <div class="local-video" id="local_stream_player" />
          <div class="remote-video" id="remote_stream_player" />
        </div>
        <div class="connect-tools">
          <div class="tool-item" @click="_handleVoice" v-if="offVoice">
            <van-icon
              :name="require('@/assets/icon/mute-icon.png')"
              size="30"
            />
            <div class="tool-text">Voice</div>
          </div>
          <div class="tool-item" @click="_handleVoice" v-else>
            <van-icon
              :name="require('@/assets/icon/voice-icon.png')"
              size="30"
            />
            <div class="tool-text">Voice</div>
          </div>
          <div class="tool-item" @click="_handleVideo" v-if="offVideo">
            <van-icon
              :name="require('@/assets/icon/video-close-icon.png')"
              size="30"
            />
            <div class="tool-text">Video</div>
          </div>
          <div class="tool-item" @click="_handleVideo" v-else>
            <van-icon
              :name="require('@/assets/icon/video-open-icon.png')"
              size="30"
            />
            <div class="tool-text">Video</div>
          </div>
          <div class="tool-item" @click="_selfClose">
            <van-icon
              :name="require('@/assets/icon/hang-up-icon.png')"
              size="52"
            />
          </div>
          <div class="tool-item" @click.stop="_handleSwitch">
            <van-icon
              :name="require('@/assets/icon/camera-switch-icon.png')"
              size="30"
            />
            <div class="tool-text">Switch</div>
          </div>
          <div class="tool-item">
            <van-icon
              :name="require('@/assets/icon/report-icon.png')"
              size="30"
            />
            <div class="tool-text">Report</div>
          </div>
        </div>
      </div>
    </van-popup>
    <ChatLink ref="link" @open="_open" @message="_message" />
    <RTCClient
      ref="rtc"
      @added="_added"
      @subscribed="_subscribed"
      @removed="_removed"
    />
  </div>
</template>
<script>
import Vue from "vue";
import { Popup } from "vant";
import ChatLink from "./ChatLink";
import RTCClient from "./RTCClient";
import { mapState } from "vuex";

Vue.use(Popup);

export default {
  data() {
    return {
      uid: "", // 要连线的uid
      poster: "",
      open: false,
      status: 1, // 0: 准备中， 1：请求中 2：视频中, -1: 无法接通, -2: 拒绝 -3: 挂断, -4: 余额不足
      offVoice: false, // 是否静音
      offVideo: false, // 是否关闭视频
      localStream: null // 本地流
    };
  },
  computed: {
    ...mapState(["profile"])
  },
  watch: {
    status(val) {
      if (val < 0) {
        this.open = false;
        this.$emit("close");
      }
      if (val === 2) {
        this.deductionSend();
      } else {
        if (this.timerDeuction) {
          clearInterval(this.timerDeuction);
        }
      }
    },
    profile(val, old) {
      if ((val && !old) || (old && val && val.uid !== old.uid)) {
        this.$refs.link.createWS();
      }
    }
  },
  components: {
    ChatLink,
    RTCClient
  },
  methods: {
    // 扣费处理
    deductionSend() {
      this.$refs.link.send({
        key: "PC",
        value: "100,60",
        type: "COM",
        remoteUid: this.uid
      });
      this.timerDeuction = setInterval(() => {
        this.$refs.link.send({
          key: "PC",
          value: "100,60",
          type: "COM",
          remoteUid: this.uid
        });
      }, 1000 * 60);
    },
    // 语音处理
    _handleVoice() {
      console.log("_handleVoice");
      if (this.localStream) {
        if (this.offVoice) {
          const res = this.localStream.unmuteAudio();
          if (res) this.offVoice = false;
        } else {
          const res = this.localStream.muteAudio();
          if (res) this.offVoice = true;
        }
      }
    },
    // 视频处理
    _handleVideo() {
      console.log("_handleVideo");
      if (this.localStream) {
        if (this.offVideo) {
          const res = this.localStream.unmuteVideo();
          if (res) this.offVideo = false;
        } else {
          const res = this.localStream.muteVideo();
          if (res) this.offVideo = true;
        }
      }
    },
    async _handleSwitch() {
      const devices = await this.$refs.rtc.getDevices();
      const videoDevices = [];
      devices.map(item => {
        if (item.kind === "videoinput") {
          videoDevices.push(item);
        }
      });
      // console.log(videoDevices);

      if (videoDevices.length < 2) {
        return;
      }
      if (this.localStream) {
        const videoTrack = this.localStream.getVideoTrack();
        console.log(videoTrack.label);
        videoDevices.map(item => {
          if (videoTrack && videoTrack.label !== item.label) {
            console.log(item.label);
            console.log(item.deviceId);
            this.localStream.switchDevice("video", item.deviceId);
          }
        });
      }
    },
    _selfClose() {
      this.status = -3;
      this._hangup();
    },
    _closeConnect() {
      this._hangup();
      this.$refs.link.send({
        key: "CC",
        type: "COM",
        remoteUid: this.uid
      });
      this.$refs.link.close();
    },
    videoRequest() {
      this.$dialog
        .confirm({
          title: "Notice",
          message:
            "Oh no😨… you are running out diamonds now. Your girl still wants to talk to you",
          confirmButtonText: "Recharge",
          cancelButtonText: "Cancel"
        })
        .then(() => {
          this.status = -3;
          this._hangup();
          this.$router.push("/recharge");
        });
    },
    videoComplete() {
      this.$dialog.alert({
        className: "chat-alert",
        title: "Good Job!",
        confirmButtonText: "x",
        message:
          "You have talked 10 mins 54seconds, You have earned 20 diamonds Screenshot for your record now!"
      });
    },
    _open() {
      console.log("ws open success!");
    },
    async _message(msg) {
      if (!msg || !msg.key) {
        console.log("无效信息");
        return;
      }
      const { key } = msg;
      // CC 挂断
      // {"key":"CC","type":"COM","remoteUid":""}
      if (key === "AC") {
        // "key":"AC", 应答 roomId
        const { roomId, value } = msg;
        if (+value === 1) {
          console.log("房间名", roomId);
          // return;
          this.status = 2;
          //主播接受视频邀请
          // 等待rtc初始化
          await this.$refs.rtc.init();
          console.log("rtc 初始化");
          const streamId = await this.$refs.rtc.join(roomId);
          console.log("获取流id", streamId);
          const localStream = await this.$refs.rtc.createLocalStream(streamId);
          console.log("本地流", localStream);
          this.localStream = localStream;
          try {
            localStream.play("local_stream_player");
          } catch (error) {
            console.log("local_play", error.message);
          }
          this.$refs.rtc.publish(localStream);
        } else {
          this.status = -1;
          this.$toast("The other party has rejected");
          this._hangup();
          // console.log("主播拒绝通话邀请");
        }
      } else if (key === "CC") {
        // console.log("对方挂断");
        this.status = -3;
        this.$toast("Has hung up");
        this._hangup();
      } else if (key === "EM") {
        this.status = -1;
        if (msg.errorCode && msg.errorCode === "not_enough") {
          this._hangup();
          this.videoRequest();
          return;
        }
        this.$toast("Unable to connect");
        this._hangup();
      } else if (key === "PC") {
        const { errorCode, value } = msg;
        if (errorCode) {
          this.status = -4;
          this._hangup();
        }
        if (value && +value > 0 && +value < 100) {
          this.videoRequest();
        }
        console.log(errorCode);
      }
    },

    async _added(evt) {
      console.log("流加入", evt);
      const remoteStream = evt.stream;
      const rid = remoteStream.getId();
      if (rid !== this.profile.uid + "") {
        this.$refs.rtc.subscribe(remoteStream);
      }
    },
    _subscribed(evt) {
      console.log("流订阅", evt);
      const remoteStream = evt.stream;
      const rid = remoteStream.getId();
      if (rid !== this.profile.uid + "") {
        this.remoteStream = remoteStream;
        remoteStream.play("remote_stream_player");
        console.log("播放远程流成功");
      }
    },
    _removed(evt) {
      console.log("流离开", evt);
      const stream = evt.stream;
      stream.stop();
    },
    _hangup() {
      if (this.remoteStream) {
        this.remoteStream.stop();
        // this.remoteStream.close();
      }
      if (this.localStream) {
        this.localStream.stop();
        this.localStream.close();
      }
      this.$refs.rtc.leave();
    },
    ask(uid, poster) {
      this.offVoice = false;
      this.offVideo = false;
      this.uid = uid;
      this.poster = poster;
      this.open = true;
      console.log(this.$refs.link.io);
      if (!this.$refs.link.io || this.$refs.link.io.readyState !== 1) {
        this.$refs.link.createWS();
      }
      this.$refs.link.send({ key: "SC", remoteUid: this.uid });
    }
  },
  mounted() {
    this.$refs.link.createWS();
  },
  beforeDestroy() {
    if (this.timerDeuction) {
      clearInterval(this.timerDeuction);
    }
    this._closeConnect();
  }
};
</script>

<style lang="less">
.connect-root {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  .connecting-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(38, 38, 38, 0.5);
    .connecting-tips {
      flex: 1;
      overflow: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .connecting-tips-main {
        padding: 0 40px;
        text-align: center;
        .connection-person {
          .person-name {
            margin-top: 5px;
            font-size: 18px;
            line-height: 21px;
            color: #fff;
          }
        }
        .connecting-tips-content {
          margin-top: 12px;
          font-size: 12px;
          line-height: 14px;
          color: #fff;
        }
      }
    }
  }

  .conncted-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .local-video {
      position: absolute;
      right: 18px;
      top: 18px;
      width: 104px;
      height: 146px;
      z-index: 9;
    }
    .remote-video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .connect-tools {
    position: fixed;
    z-index: 9999999999;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;

    .tool-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;

      .tool-text {
        font-size: 10px;
        line-height: 12px;
        font-weight: 300;
        color: #fff;
        margin-top: 5px;
      }
    }
  }
}

.van-dialog {
  padding: 15px 10px;
  box-sizing: border-box;
}
.van-dialog__header {
  padding-top: 0;
  color: #262626;
  line-height: 19px;
  text-align: left;
}
.van-dialog__content {
  .van-dialog__message {
    text-align: left;
    padding: 0;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 20px;
    color: #262626;
  }
}
.van-dialog__footer {
  .van-button + .van-button {
    margin-left: 7px;
  }
}
.van-dialog .van-button {
  // background: #fff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 36px;
  line-height: 1;
}
.van-dialog__confirm,
.van-dialog__confirm:active {
  background-color: #f45d82;
  color: #fff;
  font-size: 16px;
}
.van-dialog__cancel {
  background-color: #6b7dfc;
}

.chat-alert {
  background: rgba(255, 255, 255, 0.89);
  .van-dialog__header {
    text-align: center;
    color: #f45d82;
    font-size: 18px;
    line-height: 30px;
  }
  .van-dialog__footer {
    text-align: center;
  }
  .van-dialog__confirm {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 1;
    background: transparent;
    color: #999;
  }
}
</style>
