<template>
  <div class="discover-card-root">
    <van-image
      :src="discover.thumbnailUrl"
      width="100%"
      height="100%"
      lazy-load
      fit="cover"
    />
  </div>
</template>

<script>
export default {
  props: {
    discover: {
      type: Object,
      default: function() {
        return {};
      }
    }
  }
};
</script>

<style lang="less">
.discover-card-root {
  height: 172px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #d8d8d8;
}
</style>
