<template>
  <div class="message-input-root border">
    <van-field
      v-model="message"
      placeholder="Say something……"
      center
      @click-right-icon="_send"
    >
      <van-image
        slot="left-icon"
        width="34"
        height="34"
        round
        lazy-load
        :src="profile.avatar"
      />
      <van-icon
        slot="right-icon"
        size="24"
        :name="require('@/assets/icon/msg-send-icon.png')"
      />
    </van-field>
  </div>
</template>

<script>
import Vue from "vue";
import { Icon, Field, Button } from "vant";
import { mapState } from "vuex";

Vue.use(Icon)
  .use(Field)
  .use(Button);
export default {
  data() {
    return {
      message: ""
    };
  },
  computed: {
    ...mapState(["profile"])
  },
  methods: {
    _send() {
      if (!this.message) return;
      this.$emit("send", this.message);
      this.message = "";
    }
  }
};
</script>

<style lang="less">
.border {
  border-top: 1px solid #464646;
}
.message-input-root {
  .van-field__left-icon {
    margin-right: 12px;
    display: flex;
    align-items: center;
  }
  .van-field__control {
    height: 34px;
    margin-right: 12px;
    background: #555555;
    border-radius: 17px;
    padding: 0 20px;
    line-height: 1;
  }
}
</style>
