<template>
  <div class="list-root">
    <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
      <van-list
        v-model="loading"
        :finished="finished"
        finished-text
        @load="onLoad"
      >
        <div
          class="message-wrap"
          v-for="(_, i) in messages"
          :key="i"
          @click="goMessageDetail(_)"
        >
          <message-card :message="_" />
        </div>
      </van-list>
    </van-pull-refresh>
  </div>
</template>

<script>
import Vue from "vue";
import { List, PullRefresh } from "vant";
import MessageCard from "./MessageCard";
import * as Server from "@/server";

Vue.use(List).use(PullRefresh);
export default {
  components: {
    MessageCard
  },
  data() {
    return {
      refreshing: false,
      loading: true,
      finished: true,
      page: 1,
      messages: []
    };
  },
  methods: {
    onRefresh() {
      this.page = 1;
      this.loadMessages();
    },
    onLoad() {
      this.page += 1;
      this.loadMessages();
    },
    async loadMessages() {
      const { status, data } = await Server.MessageList(this.page);
      this.refreshing = false;
      this.loading = false;
      if (status === 0) {
        if (this.page === 1) {
          this.messages = data;
        } else {
          this.messages = this.messages.concat(data || []);
        }
        if (data.length > 0) {
          this.finished = false;
        } else {
          this.finished = true;
        }
      }
    },
    goMessageDetail(item) {
      sessionStorage.setItem("message-relate", JSON.stringify(item));
      this.$router.push(`/message-detail/${item.relateUid}`);
    }
  },
  mounted() {
    this.loadMessages();
  }
};
</script>

<style lang="less">
.list-root {
  padding: 10px 35px;
}
.message-wrap + .message-wrap {
  margin-top: 25px;
}
</style>
