<template>
  <div class="message-root">
    <van-image round width="54" height="54" :src="message.avatar" />
    <div class="messgae-content">
      <div class="message-title">
        <div class="name">{{ message.nickname }}</div>
        <div class="date">{{ message.createdTime }}</div>
      </div>
      <div class="message-info-warp">
        <div class="info">{{ message.lastMessage }}</div>
        <div class="bage" v-if="message.unReadCount">
          {{ message.unReadCount }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    message: {
      type: Object,
      default: function() {
        return {};
      }
    }
  }
};
</script>

<style lang="less">
.message-root {
  display: flex;
  align-items: center;

  .messgae-content {
    flex: 1;
    overflow: hidden;
    margin-left: 12px;
    .message-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .name {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #fff;
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .date {
        font-size: 10px;
        color: #fff;
      }
    }
    .message-info-warp {
      display: flex;
      margin-top: 5px;
      align-items: center;
      .info {
        font-size: 12px;
        color: #fff;
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .bage {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 0 4.5px;
        height: 15px;
        background: #ff3737;
        font-size: 10px;
        color: #fff;
        border-radius: 7.5px;
      }
    }
  }
}
</style>
