<template>
  <div class="notice-card-root">
    <div class="title">😁😁You have unfinished tasks!</div>
    <div class="content">
      Hey, you have not finished your task. Make sure you finish all the steps
      to get the coins!
    </div>
    <div class="date">2019-10-06 11:06:02</div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="less">
.notice-card-root {
  background: #464646;
  padding: 15px 25px;
  border-radius: 8px;
  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
  }
  .content {
    font-size: 14px;
    color: #fff;
  }
  .date {
    margin-top: 10px;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
  }
}
</style>
