<template>
  <div class="list-root">
    <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
      <van-list
        v-model="loading"
        :finished="finished"
        finished-text
        @load="onLoad"
      >
        <notice-card />
      </van-list>
    </van-pull-refresh>
  </div>
</template>

<script>
import Vue from "vue";
import { List, PullRefresh } from "vant";
import NoticeCard from "./NoticeCard";

Vue.use(List).use(PullRefresh);
export default {
  components: {
    NoticeCard
  },
  data() {
    return {
      refreshing: false,
      loading: false,
      finished: true
    };
  },
  methods: {
    onRefresh() {
      setTimeout(() => {
        this.refreshing = false;
      }, 1000);
    },
    onLoad() {
      setTimeout(() => {
        this.loading = false;
        this.finished = true;
      }, 1000);
    }
  }
};
</script>

<style lang="less">
.list-root {
  padding: 10px 35px;
}
</style>
