<template>
  <div>
    <!-- <div id="local_stream"></div> -->
  </div>
</template>

<script>
import AgoraRTC from "agora-rtc-sdk";
import config from "../common/config";

// AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.NONE);
export default {
  props: {
    mode: {
      type: String,
      default: "live"
    },
    codec: {
      type: String,
      default: "h264"
    }
  },
  data() {
    return {
      client: null
    };
  },
  methods: {
    async init() {
      this.client = AgoraRTC.createClient({
        mode: this.mode,
        codec: this.codec
      });
      this.client.on("error", err => {
        console.log("client error:", err);
      });
      this.client.on("stream-added", evt => {
        console.log("stream-added");
        this.$emit("added", evt);
      });
      this.client.on("stream-subscribed", evt => {
        console.log("stream-subscribed");
        this.$emit("subscribed", evt);
      });
      this.client.on("peer-online", evt => {
        console.log("peer-online", evt);
      });
      this.client.on("peer-leave", evt => {
        console.log("peer-leave", evt);
      });
      this.client.on("stream-removed", evt => {
        console.log("stream-removed");
        this.$emit("removed", evt);
      });
      this.client.on("error", err => {
        console.log(err);
      });
      return await this.client.init(config.appid);
    },
    async join(channel, uid, token) {
      return new Promise((resolve, reject) => {
        this.client.join(
          token,
          channel,
          uid,
          streamid => {
            resolve(streamid);
          },
          error => {
            reject(error);
          }
        );
      });
    },
    createLocalStream(streamID) {
      return new Promise((resolve, reject) => {
        const localStream = AgoraRTC.createStream({
          streamID,
          audio: true,
          video: true,
          screen: false
        });
        localStream.init(
          () => {
            resolve(localStream);
          },
          error => {
            reject(error);
          }
        );
      });
    },
    publish(localStream) {
      this.client.publish(localStream, error => {
        console.log(error);
      });
    },
    async subscribe(remoteStream) {
      this.client.subscribe(remoteStream, err => {
        console.log("subscribe:", err);
      });
    },
    leave() {
      if (this.client) {
        this.client.leave();
      }
    },
    getDevices() {
      return new Promise(resolve => {
        AgoraRTC.getDevices(devices => {
          resolve(devices);
        });
      });
    }
  },
  mounted() {}
};
</script>
