<template>
  <div id="app">
    <Connect ref="vConnect" />
    <keep-alive>
      <router-view v-if="$route.meta.keep">
        <!-- 这里是会被缓存的视图组件，比如 Home！ -->
      </router-view>
    </keep-alive>
    <router-view v-if="!$route.meta.keep">
      <!-- 这里是不被缓存的视图组件，比如 Edit！ -->
    </router-view>
  </div>
</template>
<script>
import Connect from "./components/Connect";
import { mapMutations } from "vuex";

export default {
  components: {
    Connect
  },
  data() {
    return {
      show: false
    };
  },
  methods: {
    ...mapMutations(["updateProfile", "setVConnect"])
  },
  created() {
    const local = localStorage.getItem("profile");
    if (local) {
      this.updateProfile(JSON.parse(local));
    }
  },
  mounted() {
    this.setVConnect(this.$refs.vConnect);
  }
};
</script>
<style lang="less">
#app {
  background-color: #262626;
  // display: flex;
  // flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
</style>
